<h1 class="text-center" style="text-align: center; color: darkcyan">Détails Projet</h1>

<div class="card mb-4">
  <div class="card-header">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h4 class="card-title">Titre du Projet: {{ projet.titre }}</h4>
      <button type="button" class="btn rounded-pill btn-outline-danger" (click)="BackToListProjets()">
        <strong ><i class="fa-solid fa-arrow-left"></i></strong> Retour

      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="project-details mt-2">
      <!-- Description-->
      <div class="project-section">
        <h5>Description du Projet:</h5>
        <p>le projet ...................................</p>
      </div>
      <!-- Responsable-->
      <div class="project-section">
        <h5>Responsable du Projet:</h5>
        <div class="developers-container" >
          <div class="developer"style="width: 300px">
            <div class="developer-header">
              <img src="assets/img/avatars/5.png" alt="Photo de responsable ">
              <div class="developer-name">
                <h4>Mr. Habieb Mohamed</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- developeurs-->
      <div class="project-section">
        <h5>Liste des Développeurs:</h5>
        <div class="developers-container">
          <div class="developer" *ngFor="let developer of developers">
            <div class="developer-header">
              <img src="assets/img/avatars/1.png" alt="Photo de {{ developer.nom }} {{ developer.prenom }}">
              <div class="developer-name">
                <h4>{{ developer.nom }} {{ developer.prenom }}</h4>
              </div>
            </div>
            <div class="developer-details">
              <h5 style="color: #986801">{{ developer.specialite }}</h5>
              <p>{{ developer.nbTachesEffectuees }} tâches effectuées</p>
            </div>
          </div>
        </div>
      </div>
      <!-- tasks-->
      <div class="project-section">
        <h5>Liste des tâches:</h5>
        <div class="lists-container">
          <!-- to do -->
          <div class="example-container">
            <h2>To Do</h2>
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[inProgressList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of todo" cdkDrag>{{ task }}
                <div class="icons-container">
                  <i class="bx bx-show" style="margin-right: 1px" (click)="seeDetailsTask()"data-bs-toggle="modal"
                     data-bs-target="#basicModal2" data-toggle="modal"
                     aria-hidden="true"
                     data-target="#newNodeModal" ></i>
                  <i class="bx bx-group" (click)="AffecterTask()"></i>
                </div>

              </div>
            </div>
          </div>
          <!-- in progress  -->
          <div class="example-container">
            <h2>In Progress</h2>
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="inProgress"
              [cdkDropListConnectedTo]="[todoList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of inProgress" cdkDrag>{{ task }}
                <div class="icons-container">
                  <i class="bx bx-show" style="margin-right: 1px" (click)="seeDetailsTask()"></i>
                  <i class="bx bx-group" (click)="AffecterTask()"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- done -->
          <div class="example-container">
            <h2>Done</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList, inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let task of done" cdkDrag>
                {{ task }}
                <div class="icons-container">
                  <i class="bx bx-show" (click)="seeDetailsTask()"></i>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end tasks-->
    </div>
  </div>

</div>
<div class="modal fade" id="basicModal2" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " style="text-align: center; color: #03b0d4" id="exampleModalLabel2">hi </h3>
        <!-- btn close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1> Hello ! </h1>
      </div>
      <!-- footer buttons -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger"  data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
