/* Ajoutez ces styles à votre fichier CSS */

.card {
  border: 1px solid #d9dee3;
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  flex: 1;
  padding: 1.5rem;
}

.card-img-top {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 1.25rem;
}

.card-footer {
  border-top: 1px solid #d9dee3;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.btnStyle {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #03c3ec;
  border: 1px solid #03c3ec;
  transition: background-color 0.3s, color 0.3s;
}

.btnStyle:hover {
  background-color: #0282a5;
  border-color: #0282a5;
}

