<div class="container-fluid">

<!-- list projet  -->
  <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-block card-stretch card-height" *ngFor="let p of listProjet">
          <div class="card-body">
            <h5 class="mb-1"> {{p.name}}Titre du projet </h5>
            <p class="mb-3">{{p.description}}Description:Preparing framework of block-based WordPress Theme.</p>
            <div class="d-flex justify-content-end  pt-3 border-top">
              <div class="iq-media-group" >
              <a  (click)="seeTaskProjet(p.id)" class="btn btn-white text-primary link-shadow ">SEE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

